
# Author: Paul Madley-Dowd

# Date: 30/09/2021

# Description: File to define which files should not be stored on github
               This will prevent data and log files from being stored online


*.dta
*.log
*.txt
